@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

/*.photos {
  height: 90vh;
  display: flex;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  color: #eeebdd;
  position: relative;
  background-color: #eeebdd;
  color: #211d1f;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 5px;
  
} */

/* .whit_box {
  position: absolute;
  border: 2px solid #211d1f;
  background-color: #feffff;
  font-size: 1.2rem;
  width: 40%;
  height: 70%;
  transition: width 3s, height 3s, transform 2s;

  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure img {
  width: 100%;
  height: 90%;
}

.whit_box:hover {
  z-index: 4;
}

.blac_box {
  position: absolute;
  font-size: 1.2rem;
  border: 2px solid #211d1f;
  background-color: #feffff;
  width: 40%;
  height: 70%;

  top: 20%;
  right: 35%;
  display: grid;
  place-items: center;
  transition: width 5s, height 5s, transform 6s;
}

@media screen and (max-width: 768px) {
  .whit_box {
    width: 60%;
    height: 50%;
  }
  .blac_box {
    width: 60%;
    height: 50%;
    right: 15%;
    top: 30%;
    right: 30%;
  }
} */

.photos {
  top: 80px;
  height: 90vh;
  display: flex;
  font-family: "PT Sans", sans-serif;
  /* flex-direction: column; */
  /* font-size: 3rem; */
  align-items: center;
  justify-content: space-evenly;

  background-color: #eeebdd;
  flex-wrap: wrap;
  border: 25px solid #feffff;
}

@media screen and (max-width: 768px) {
  .photos {
    height: 100%;
  }
}
